.radius {
    border-radius: 15px;
}

.tr-border {
    border-top: 1px;
    border-bottom: 1px;
}

.pad {
    padding: 5px 0 5px 0;
}

.section-one {
    margin: 10px 0 10px 0;
    width: 50%;
    height: 100%;
}

.section-two {
    margin: 10px 0 10px 0;
}

.promo {
    width: 100%;
    height: 400px;
    margin-left: 0px;
    margin-bottom: 20px;
}